<div class="col-md-10 offset-md-1" style="margin-top: 30px">

	<div>
		<h1>Definición de Nutrición</h1> 
		<p>	La nutrición es el proceso a través del cual nuestro organismo absorbe y asimila los alimentos y bebidas que ingerimos diariamente, y los utiliza para el correcto funcionamiento de nuestro organismo.</p>
		<h2><br />
			<strong>Diferencias entre Nutrición y Alimentación</strong>
		</h2>
		<p><br />
			Desde la gestación y durante toda nuestra vida, debemos ingerir alimentos y bebidas. Esta actividad es necesaria para calmar nuestro apetito y está fuertemente direccionada por nuestras costumbres y entorno cultural. Denominamos ALIMENTACIÓN al acto de ingerir alimentos y bebidas. Es un proceso consciente y voluntario. La NUTRICIÓN, como definimos anteriormente, es el proceso de absorción de estos alimentos por nuestro organismo, que nos permite crecer y vivir. Si no nos alimentamos, entonces no nos nutrimos, y la calidad de alimentos que seleccionamos para alimentarnos es la que determina la calidad de nuestra NUTRICIÓN.<br />
			Definimos ALIMENTACIÓN SALUDABLE como la alimentación que proporciona una cantidad y variedad de alimentos suficiente para cubrir las necesidades de energía y nutrientes de una persona.
		</p>
		<h2><br />
			<strong>¿Que son los Nutrientes?</strong><br />
		</h2>
		<p>&nbsp;</p>
		<p>Los Nutrientes son las sustancias contenidas en los alimentos que son necesarias para vivir y mantenernos en salud.
		</p>
		<p><br />
		</p>

		<h3>Clasificación</h3>
		<p>&nbsp;</p>
		<p>Podemos clasificar los nutrientes según la cantidad necesaria de ingesta de los mismos:<br />
			Macronutrientes: se requieren en grandes cantidades diarias (habitualmente del orden de gramos). Estos nutrientes participan como sustratos en los procesos metabólicos destinados a obtener energía. Incluyen carbohidratos, proteínas, y lípidos. Son la base de toda dieta.<br />
			Micronutrientes: se requieren en pequeñas cantidades (habitualmente en cantidades inferiores a miligramos). Estos nutrientes participan en el metabolismo como reguladores de los procesos energéticos. Son las vitaminas y los minerales.
		</p>
		<p>&nbsp;</p>
		<h4>•	Carbohidratos</h4>
		<p>&nbsp;</p>
		<p>Los carbohidratos son los compuestos orgánicos más abundantes de la biosfera y a su vez los más diversos. Normalmente se los encuentra en las partes estructurales de los vegetales y también en los tejidos animales, en forma de glucosa o glucógeno. Estos sirven como fuente de energía para todas las actividades celulares vitales. Aportan 4 kcal/gramo. <br />
			<br />
			Los podemos encontrar en una innumerable cantidad y variedad de alimentos y cumplen un rol muy importante en el metabolismo. Por eso deben tener una muy importante presencia de nuestra alimentación diaria. <br />
			<br />
			Químicamente, los carbohidratos están formados por unidades simples denominados monosacáridos, que se unen entre sí formando cadenas de longitud y composición variables. De acuerdo al largo de estas cadenas se los clasifica en Simples o Complejos.
		</p>
		<p>&nbsp;</p>
		<ul>
			<ul>
				<h5>º Carbohidratos simples</h5>
			</ul>
		</ul>
		<p>&nbsp;</p>
		<p>Los carbohidratos simples son los monosacáridos, entre los cuales podemos mencionar a la glucosa y la fructosa que son los responsables del sabor dulce de muchos frutos. La sacarosa (azúcar de mesa), es otro carbohidrato simple formado por 1 glucosa + 1 fructosa.<br />
			Con estos azúcares sencillos se debe tener cuidado ya que tienen atractivo sabor y el organismo los absorbe rápidamente. Su absorción induce a que nuestro organismo secrete la hormona insulina que estimula el apetito y favorece los depósitos de grasa. El consumo de estos carbohidratos simples debe ser controlado, inclusive en la infancia.
		</p>
		<p>&nbsp;</p>

		<h5> º Carbohidratos complejos</h5>
		<p>&nbsp;</p>
		<p>Los carbohidratos complejos son los polisacáridos; formas complejas de múltiples moléculas. Entre ellos se encuentran la celulosa que forma la pared y el sostén de los vegetales; el almidón presente en tubérculos como la papa y el glucógeno en los músculos e hígado de animales. <br />
			El organismo utiliza la energía proveniente de los carbohidratos complejos de a poco, por eso son de lenta absorción. Se los encuentra en los panes, pastas, cereales, arroz, legumbres, maíz, cebada, centeno, avena, etc. A través de los carbohidratos complejos es que debe consumirse el 90% de los carbohidratos totales requeridos por nuestro organismo para una alimentación saludable.
		</p>
		<p>&nbsp;</p>


		<h5>º Fibras </h5>
		<p>&nbsp;</p>
		<p>Son sustancias alimenticias vegetales que no se digieren por los procesos que se llevan a cabo en el estómago o en el intestino delgado. En su mayoría son hidratos de carbono como: celulosa, hemicelulosa, pectinas, gomas y mucílagos. La lignina se incluye en este grupo pero no es un carbohidrato.<br />
			De acuerdo a su solubilidad en agua se clasifican en Solubles e insolubles.<br />
			Las fibras solubles se hidratan durante el proceso de digestión y luego son fermentadas por las bacterias del intestino grueso. Por ejemplo las pectinas, gomas y mucílagos. Esta fibra está presente en: Manzana, banana, cítricos, cebada, avena. Son beneficiosas por retardar la absorción de la glucosa y disminuir el colesterol sanguíneo.<br />
			Las fibras insolubles no se hidratan y son muy difícilmente fermentadas por las bacterias intestinales. Las sustancias de este grupo son la celulosa, hemicelulosa y ligninas. Esta fibra está presente en el salvado de trigo, arroz integral, granos enteros, verduras. Son beneficiosas por disminuir el tiempo de tránsito intestinal.
		</p>
		<p>&nbsp;</p>
		<h3>•	Proteínas </h3>
		<p>&nbsp;</p>
		<p>Las proteínas son las principales estructuras de nuestro cuerpo, constituyen el sistema de transporte de la sangre, las membranas celulares, pelo, uñas, etc. Por lo tanto, es imprescindible y obligatorio consumir proteínas de alta calidad, para mantener una buena salud. Aportan 4 Kcal/gr.
		</p>
		<p>&nbsp;</p>
		<p>Las funciones principales de las proteínas son:</p>
		<p>&nbsp;</p>
		<p>•    	Ser esenciales para el crecimiento de los organismos. Las grasas y carbohidratos no las pueden sustituir, por no contener nitrógeno.
		</p>
		<p>•     Proporcionan los aminoácidos esenciales fundamentales para la síntesis de tejidos.</p>
		<p>•    	Son materia prima para la formación de los jugos digestivos, hormonas, proteínas plasmáticas, hemoglobina, vitaminas y enzimas.
		</p>
		<p>•     Actúan como catalizadores biológicos acelerando la velocidad de las reacciones químicas del metabolismo. Son las enzimas.
		</p>
		<p>•     Actúan como transporte de gases como oxígeno y dióxido de carbono en sangre. (hemoglobina).</p>
		<p>•     Actúan como defensa, los anticuerpos son proteínas de defensa natural contra infecciones o agentes extraños.
		</p>
		<p>•     Permiten el movimiento muscular a través de la miosina y actina (proteínas contráctiles musculares).</p>
		<p>•     Resistencia. El colágeno es la principal proteína integrante de los tejidos de sostén.</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h3>•	Lípidos </h3>
		<p>&nbsp;</p>
		<p>Los lípidos representan la mayor fuente de energía para el organismo por gramo: Los Lípidos aportan 9 Kcal./ gramo. Esta energía concentrada se debe a que los lípidos, por su estructura química, no son solubles en agua ni interactúan con ella. Los lípidos son excelentes aislantes y separadores. <br />
			Químicamente, Las grasas están formadas por ácidos grasos. De acuerdo a la unión de estos ácidos grasos con otros componentes, se obtienen las siguientes estructuras:
		</p>
		<p>&nbsp;</p>
		<p>•     Acido graso + Glicerol: Se denominan "glicéridos", que pueden ser mono, di o triglicéridos de acuerdo a la cantidad de ácidos grasos unidos al glicerol.
		</p>
		<p>•     Acido graso + Glicerol + Colina/ Etanolamina/ Serina/ Inositol: Se denominan "Fosfolípidos"
		</p>
		<p>•     Acido graso no asociado al Glicerol: Esteroles (Colesterol), fitoesteroles, ceras y alcoholes grasos.

		</p>
		<p>&nbsp;</p>
		<p>En términos generales llamamos aceites a los lípidos que son líquidos temperatura ambiente. Son ejemplos los triglicéridos de origen vegetal (aceites usados en preparaciones culinarias: girasol, maíz, canola, soja, etc.), también los lípidos presentes en los pescados, en especial los de agua fría. Estos lípidos líquidos a temperatura ambiente tienen este comportamiento por estar formados por ácidos grasos insaturados.<br />
			Cuando los lípidos son sólidos a temperatura ambiente, los denominamos grasas, estas están compuestas por triglicéridos constituidos por ácidos grasos saturados, En su mayoría provenientes de lípidos de origen animal. Algunas fuentes son: manteca, crema, grasa, piel de pollo, en general: en lácteos no descremados y carnes.
		</p>
		<p>&nbsp;</p>
		<p>Las grasas cumplen varias funciones:</p>
		<p>&nbsp;</p>
		<p>•     Energéticamente, las grasas constituyen la principal reserva energética, ya que brindan 9 KCal. /gramo.
		</p>
		<p>•     Plásticamente, tienen una función dado que forman parte de todas las membranas celulares y de la vaina de mielina de los nervios, por lo que podemos decir que se encuentra en todos los órganos y tejidos.
		</p>
		<p>•     Transportan proteínas liposolubles.</p>
		<p>•     Dan sabor y textura a los alimentos.</p>
		<p>&nbsp;</p>
		<p>Existen lípidos esenciales, que deben ser incorporados a través de la ingesta de alimentos, ya que el cuerpo no los puede sintetizar, y los necesita para sus funciones vitales. Estos ácidos grasos esenciales son: Acido Linoleico ( Omega 6), y Acido Linolénico (Omega 3). La Organización Mundial de la Salud (OMS), recomienda que la relación de ingesta de Omega 6 / Omega 3 sea entre 5 y 10.
		</p>
		<p>&nbsp;</p>
		<h3>•	Vitaminas <a style="color: #2a94cf; font-weight: bold;" onclick="MM_openBrWindow('tablavitaminas.html','tablavitaminas','scrollbars=yes,width=850,height=970')">- VER TABLA -</a></h3>
		<p>&nbsp;</p>
		<p>
			Las vitaminas son sustancias químicas no sintetizables por el organismo, presentes en pequeñas cantidades en los alimentos y son indispensables para la vida. Intervienen como catalizador en las reacciones bioquímicas de nuestro organismo.
			Las vitaminas se dividen en dos grupos:
		</p>
		<p>•     Liposolubles: Son aquellas solubles en lípidos. Las vitaminas que pertenecen a este grupo son: A, D, E, K. Se almacenan en nuestro organismo en el hígado y en los tejidos grasos. Debido a que se almacenan, una ingesta excesiva puede causar toxicidad.
		</p>
		<p>•     Hidrosolubles: Son aquellas solubles en medio acuoso. Las vitaminas que pertenecen a este grupo son: B1, B2, B6, B12, C, Niacina, Biotina, Ácido fólico, Ácido pantoténico y Colina.
			En la siguiente tabla se detallan las funciones de las vitaminas y la fuente de los alimentos donde podemos encontrarlas.
		</p>
		<p>&nbsp;</p>
		<h3>•	Minerales  <a style="color: #2a94cf; font-weight: bold;" onclick="MM_openBrWindow('tablaminerales.html','tablaminerales','scrollbars=yes,width=850,height=970')">- VER TABLA -</a>  </h3>
		<p>&nbsp;</p>
		<p>Los minerales están presentes en nuestro cuerpo y en los alimentos. El equilibrio de estos minerales es vital para el adecuado funcionamiento de nuestro organismo: regula la actividad de enzimas, mantiene la presión osmótica de las células y los fluidos corporales, facilita el transporte de nutrientes dentro de la membrana celular. Los minerales se dividen en dos grupos: Macrominerales, y macrominerales. En la siguiente tabla se detallan las funciones de los minerales y la fuente de los alimentos donde podemos encontrarlos.
		</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>
