<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="infoLegalModal" tabindex="-1" role="dialog" aria-labelledby="LargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Responsabilidad sobre la información médica.</h5>
			</div>
			<div class="modal-body">

				<div id="infolegal">
					<p>La información contenida en este sitio web tiene solamente carácter informativo, sin fines promocionales	y en ningún caso pretende sustituir las indicaciones del profesional de la salud.
					</p>
					<p>Nutentar SRL no se hace responsable del uso ilegal, indebido, o por la manipulación de contenidos de esta página ni de los sitios web vinculados. Tanto el acceso a la información
					</p>
					<p>como el uso que pueda hacerse de la misma, será exclusiva responsabilidad de quien lo realice.</p>
					<p>Nutentar SRL	</p>
					<p>¿Desea continuar?</p>
					<p>[ <a href="home">SI</a> ]   - [ <a href="contacto">NO</a> ]</p>
				</div>

			</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div> -->



			</div>
		</div>
	</div>
