<div id="info">
<div id="textorecetas">
<h1>Links de interés</h1>
<div id="links">
  <h2>    NUTENTAR te recomienda los siguientes sitios.</h2>
<p>Para visitarlos hacé click sobre el que desees ver.</p>
<p>&nbsp;</p>
<h3>NUTRICIÓN: </h3>
<p>&nbsp;</p>
<p><a href="http://www.sanutricion.org.ar/" target="_blank"> Sociedad Argentina de Nutrición</a></p>
<p><a href="http://www.saota.org.ar" target="_blank">SAOTA: Sociedad argentina de obesidad y trastornos alimentarios</a></p>
<p><a href="http://www.aadynd.org.ar/" target="_blank">AADYND: Asociación Argentina de Dietistas y Nutricionistas Dietistas</a></p>
<p><a href="http://www.sennutricion.org/es" target="_blank">Sociedad Española de Nutrición</a></p>
<p><a href="http://www.nutricion.org/" target="_blank"> Sociedad española de dietética y ciencias de la alimentación</a></p>
<p> <a href="http://www.nutrinfo.com/" target="_blank"> NUTRINFO</a></p>
<p>&nbsp;</p>


<h3>SOPORTE NUTRICIONAL: </h3>
<p> <a href="http://www.aanep.com" target="_blank"> Asociación Argentina de Nutrición Enteral y Parenteral</a></p>
<p> <a href="http://www.senpe.com/" target="_blank"> Sociedad Española de Nutriciòn Parenteral y Enteral</a></p>
<p> <a href="http://www.nutritioncare.org/" target="_blank">ASPEN – American Society for parenteral and enteral nutrition</a></p>
<p> <a href="http://www.espen.org/" target="_blank"> ESPEN – European Society for clinical nutrition and metabolism</a></p>
<p> <a href="http://www.aanep.org.ar/normas_buenapract.php" target="_blank"> Guias argentinas de alimentación enteral y parenteral</a></p>
<p>&nbsp;</p>

<h3>DIABETES: </h3>

<p> <a href="http://www.diabetes.org/" target="_blank">American Diabetes Association</a></p>
<p> <a href="http://www2.niddk.nih.gov/" target="_blank"> National Institute of Diabetes and Digestive and Kidney Diseases – NIDDK </a></p>
<p>&nbsp;</p>

<h3>RENALES: </h3>
<p> <a href="http://www.kidney.org/professionals/kdoqi/" target="_blank"> National Kidney Foundation</a></p>
<p><a href="http://www.jrnjournal.org/" target="_blank">Journal of Renal Nutrition</a></p>
<p> <a href="http://www.senefro.org/" target="_blank">Sociedad española de Nefrología</a></p>
<p>&nbsp;</p>
<h3>ORGANISMOS  NACIONALES E INTERNACIONALES: </h3>

<p> <a href="http://www.ilsi.org.ar" target="_blank">ILSI Argentina</a></p>
<p> <a href="http://www.fao.org/index_es.htm" target="_blank"> FAO /OMS</a></p>
<p> <a href="http://www.ops.org.ar/" target="_blank"> OPS</a></p>
<p> <a href="http://www.nap.edu/catalog.php?record_id=10490" target="_blank">National Academies Press</a></p>
<p> <a href="http://www.codexalimentarius.net/web/index_en.jsp" target="_blank">CODEX</a></p>
<p> <a href="http://www.anmat.gov.ar/alimentos/normativas_alimentos_caa.asp" target="_blank"> CODIGO ALIMENTARIO ARGENTINO</a></p>
<p><a href="http://ec.europa.eu/research/quality-of-life/ka1/home_en.htm" target="_blank">Comisión Europea de investigación de alimentos, nutrición y salud</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>





</div>
</div>
  
  
  
</div>
