<div id="info">
  <div id="textorecetas">
    <p>NUTENTAR ® es una empresa Argentina  especializada en nutrición clínica, comprometida en mejorar la calidad nutricional de la población, porque mantener una alimentación balanceada, es fundamental para que las personas alcancen su mejor estado de salud en cada etapa de la vida.</p>
    <p>Nos especializamos en el desarrollo y elaboración de alimentos para propósitos médicos específicos. Nuestra línea de productos está desarrollada para atender las necesidades nutricionales tanto generales como específicas, en diferentes etapas de la vida, desde pediatría hasta adultos mayores. </p>
    <p>Ofrecemos productos que aportan la totalidad de los macro y micro nutrientes necesarios para una nutrición completa, así como también fórmulas específicas para la realización de dietas cetogénicas, alimentos hidrolizados, productos para personas con dificultades en el metabolismo de la glucosa, trastornos de deglución  y módulos nutricionales.</p>
    <p>Organizamos seminarios en nutrición y tecnología de los alimentos, pensados para crear un espacio de contacto entre los profesionales de la salud, compartir conocimientos y escuchar las necesidades de cada paciente e institución.</p>
    <p>&nbsp;</p>
    <h2>NUESTROS VALORES</h2>
    <p>• Fuerte compromiso con la Calidad de nuestros productos.<br />
      • Relaciones personales basadas en la confianza y el respeto mutuo.</p>
      <p>• Apertura y curiosidad frente a nuevas tendencias y oportunidades.</p>
      <p>• Vocación de servicio: Agilidad en los procesos y amabilidad en el servicio.</p>
      <p>&nbsp;</p>
      <h2>MISIÓN</h2>
      <p>Desarrollar, elaborar y comercializar fórmulas nutricionales y alimentos enterales, que mejoren
        la calidad de vida de la población, procurando
        un negocio sustentable en el tiempo, dentro de
        un marco ético y responsable. </p>
        <p><br />
         <h2>VISIÓN</h2>
         Liderar el segmento de nutrición clínica en Argentina y obtener el reconocimiento de nuestros clientes y la competencia, por la excelencia de nuestros productos y la calidad de nuestro servicio.
         <p><br />
         </p>
       </div>
       <div id="fotorecetas"><img src="imagenes/medicos.jpg" width="200" height="500" /></div>
       
     </div>
     
