
<div class="col-md-10 offset-md-1" style="margin-top: 30px">
	
	<div id="fondocolor1" class="row">

		<div class="lineaprod1" class="">
			<p>NUTRICIÓN ESTÁNDAR COMPLETA</p>
		</div>
		
		<div class="row">

			<div class="col-lg-6">
				<div class="brevedescripCC">
					<div class="brevedescripFotoCC" >
						<a href="/sustentaneutro">
							<img src="imagenes/productos/NCA-Sustenta-neutro.jpg" class="img-fluid" />
							<button type="button" class="btn btn-primary btn-sm btn-flat"> + INFO</button>
						</a>
					</div>
					<div class="brevedescripTit">SUSTENTA NEUTRO</div>
					<div class="brevedescripcion">
						<p>Alimento completo y balanceado, adecuado para alimentación por vía enteral y oral. Sabor neutro. Aporta DHA.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="brevedescripCC">
					<div class="brevedescripFotoCC">
						<a href="#">
							<img src="imagenes/productos/NCA-Sustenta-vainilla.jpg" class="img-fluid" />
							<button type="button" class="btn btn-primary btn-sm btn-flat"> + INFO</button>
						</a>
					</div>
					<div class="brevedescripTit">SUSTENTA VAINILLA</div>
					<div class="brevedescripcion">
						<p>Alimento completo y balanceado, adecuado para alimentación por vía oral y enteral. Agradable Sabor vainilla. Aporta DHA y fibras FOS + inulina.
						</p>
					</div>
				</div>
			</div>

		</div>

	</div>



	<div id="fondocolor2" class="row">
		<div class="lineaprod1">
			<p>NUTRICIÓN ESPECÍFICA</p>
		</div>

		<div class="row">

			<div class="col-lg-6" >
				<div class="brevedescripCC">
					<div class="brevedescripFotoCC">
						<a href="#">
							<img src="imagenes/productos/NCA-Sustenta-fibras.jpg" class="img-fluid" />
							<button type="button" class="btn btn-primary btn-sm btn-flat"> + INFO</button>		
						</a>
					</div>
					<div class="brevedescripTit">SUSTENTA FIBRAS VAINILLA</div>
					<div class="brevedescripcion">
						<p><br />
							Alimento completo y balanceado, con alto contenido de fibras.  Adecuado para alimentación por vía oral y enteral. Agradable Sabor vainilla. Aporta DHA.
						</p>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="brevedescripCC">
					<div class="brevedescripFotoCC">
						<a href="#">
							<img src="imagenes/productos/NCA-Sustenta-DB-neutro.jpg" class="img-fluid" />
							<button type="button" class="btn btn-primary btn-sm btn-flat"> + INFO</button>
						</a>
					</div>
					<div class="brevedescripTit">SUSTENTA DB NEUTRO</div>
					<div class="brevedescripcion">
						<p>Alimento completo y balanceado, formulado especialmente para pacientes con trastornos en el metabolismo de la glucosa. Adecuado para alimentación por vía enteral y oral. Sabor neutro. Aporta DHA y fibras.
						</p>
					</div>
				</div>
			</div>

		</div>	



		<div class="row" style="padding-top: 30px">

			<div class="col-lg-6">
				<div class="brevedescripCC">
					<div class="brevedescripFotoCC">
						<a href="#">
							<img src="imagenes/productos/NCA-Sustenta-DB-vainilla.jpg" class="img-fluid" />
							<button type="button" class="btn btn-primary btn-sm btn-flat"> + INFO</button>
						</a>
					</div>
					<div class="brevedescripTit">SUSTENTA DB VAINILLA</div>
					<div class="brevedescripcion">
						<p>Alimento completo y balanceado, formulado especialmente para pacientes con trastornos en el metabolismo de la glucosa. Adecuado para alimentación por vía oral y enteral. Agradable sabor vainilla. Aporta DHA y fibras.
						</p>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="brevedescripCC">
					<div class="brevedescripFotoCC">
						<a href="#">
							<img src="imagenes/productos/NCA-Sustenta-Semielemental.jpg" class="img-fluid" />
							<button type="button" class="btn btn-primary btn-sm btn-flat"> + INFO</button>
						</a>
					</div>
					<div class="brevedescripTit">SUSTENTA SEMIELEMENTAL</div>
					<div class="brevedescripcion">
						<p><br />
							Alimento completo y balanceado, formulado con proteína de suero hidrolizada y triglicéridos de cadena media, para facilitar la absorción de nutrientes.  Adecuado para alimentación por vía enteral y oral. Aporta DHA.
						</p>
					</div>
				</div>
			</div>

		</div>


	</div>



	<div id="fondocolor3" class="row">
		<div class="lineaprod1">
			<p>	ALIMENTO HIPERCALÓRICO E HIPERPROTEICO </p>
		</div>

		<div class="row">

			<div class="col-lg-6">
				<div class="brevedescripCC">
					<div class="brevedescripFotoCC">
						<a href="#">
							<img src="imagenes/actualizaciones2017/PeqSustentaDessert.png" class="img-fluid" />
							<button type="button" class="btn btn-primary btn-sm btn-flat"> + INFO</button>
						</a>
					</div> 
					<div class="brevedescripTit">SUSTENTA DESSERT</div>
					<div class="brevedescripcion">
						<p><br />	Alimento completo hipercalórico e hiperproteico, para reconstituir con agua y preparar una colación semisólida de 125 g. Aporta DHA y fibras.						
						</p>

					</div>
				</div>
			</div> 

		
			<div class="col col-lg-6">
				<div class="brevedescripCC">
					<div class="brevedescripFotoCC">
					<img src="" alt="">
						
					</div> 
					<div class="brevedescripTit"></div>
					<div class="brevedescripcion">
						<p>
							
						</p>
					</div>
				</div>
			</div>

		</div>

	</div>





</div>