<div class="col-md-10 	" style="margin-top: 30px">

	<div class="row">

		<div id="infoprods">
			<div id="fotoproductocont"><img src="imagenes/productos/Sustenta-neutro.jpg" class="img-fluid" /></div>
			<div id="infoproductosvarios">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td colspan="2"> 
							<p><strong>Sustenta® Neutro</strong>, es una fórmula isocalórica en polvo, nutricionalmente completa y balanceada para el soporte nutricional de pacientes con funcionamiento normal o parcial del tubo digestivo. Cubre las RDA al reconstituir el producto en 1500 Kcal. 
							</p>
						</td>
					</tr>
					<tr>
						<td width="80%" valign="top">
							<p>✓ Adecuado como única fuente nutricional para mayores de 9 años.					</p>
							<p>      ✓ Aporta ácidos grasos esenciales DHA + EPA.</p>
							<p>✓ No contiene sacarosa ni lactosa. Libre de gluten.</p>
							<p>✓ Administración: vía enteral o vía oral. 
								Por su sabor neutro, puede combinarse
								con otra 
								preparaciones dulces 
								o saladas
								para enriquecerlas 
								nutricionalmente.
							</p>
							<p>✓ Osmolaridad: 260 mOsm / litro</p>
						</td>
						<td width="20%" align="center">
							<img src="imagenes/DHAepa.png" />
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div> <!-- row -->

	<div class="clearfix"></div>


	<div class="row">
		<h2>    CARACTERÍSTICAS NUTRICIONALES<br />
			<br />
		</h2>
		<div class="row" style="margin-bottom: 50px">

			<div class="col-lg-5">
				<div id="suaneutro">
					<div class="bordesolidoceleste"> 
						<p>Proteínas lácteas de alto valor biológico:<br />
							Caseínas y Séricas
						</p>
					</div>

					<div class="bordesolidorojo2"> 
						<p>Balance apropiado de aporte calórico por porción, recomendado por NAS*:</p>
						<p>15% proteínas</p>
						<p>30% lípidos</p>
						<p>55% carbohidratos</p>
					</div>

					<div class="bordesolidonaranja">14 Vitaminas<br />			15 Minerales</div>
					<div class="bordesolidoverdemanz"> 
						<p>Aporta DHA + EPA:</p>
						<p>600 mg en 1500 Kcal</p>
					</div>
					<div class="bordesolidoceleste"> Libre de Lactosa</div>
					<div class="bordesolidoverde">
						<p>Aporta antioxidantes: Vitamina C, E </p>
						<p>y Selenio</p>
					</div>
					<div class="bordesolidovioleta"> Calcio lácteo de alta biodisponibilidad</div>
					<div class="bordesolidonaranja">Sin Sacarosa</div>
					<!-- <div class="bordesolidorojo">Libre de Gluten <div id="sintacc"></div> </div> -->

					<div class="bordesolidorojo">
						<div style="width: 80%; float: left;">
							<p>Libre de Gluten  </p>
						</div>
						<div style="width: 20%; float: left;">
							<img src="imagenes/actualizaciones2017/SinTacc.png" alt="sinTacc" class="img-fluid" style="width: 70%; height: 70%; margin-top: -20px; margin-bottom: -20px">
						</div>
					</div>

					<div class="bordesolidoceleste">
						<p>Osmolaridad: 260 mOsm / litro</p>
						<p>Carga renal de solutos: 336 mOsm / litro</p>
					</div>
					<h6 style="color: #495057;"> * NAS: National Academy of Science – 2005<br />
						(Academia Nacional de Ciencias)
					</h6>
				</div>

			</div>

			<div class="col-lg-7">
				<div id="tabla">
					<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom: 15px">
						<tr>
							<td rowspan="2" width="184" bgcolor="#CCCCCC"> Energía y Nutrientes</td>
							<td rowspan="2" width="65" align="center" bgcolor="#CCCCCC">UNIDADES</td>
							<td rowspan="2" width="80" align="center" bgcolor="#CCCCCC">CADA 100 G<br />	DE POLVO </td>
							<td rowspan="2" width="86" align="center" bgcolor="#CCCCCC">Reconstitución 100 ml (23%)</td>
							<td rowspan="2" width="80" align="center" bgcolor="#CCCCCC">% IDR* / 100 ml</td>
						</tr>
						<tr> </tr>
						<tr>
							<td>Valor   energético</td>
							<td align="center">Kcal</td>
							<td align="center">437</td>
							<td align="center">100</td>
							<td colspan="2" align="center">5%</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td align="center">Kj</td>
							<td align="center">1829</td>
							<td align="center">421</td>
							<td colspan="2" align="center"></td>
						</tr>
						<tr>
							<td>Carbohidratos</td>
							<td align="center">g</td>
							<td align="center">59</td>
							<td align="center">14</td>
							<td colspan="2" align="center">5%</td>
						</tr>
						<tr>
							<td>Proteínas</td>
							<td align="center">g</td>
							<td align="center">17</td>
							<td align="center">3,9</td>
							<td colspan="2" align="center">5%</td>
						</tr>
						<tr>
							<td>Grasas totales</td>
							<td align="center">g</td>
							<td align="center">15</td>
							<td align="center">3,4</td>
							<td colspan="2" align="center">6%</td>
						</tr>
						<tr>
							<td>Grasas saturadas</td>
							<td align="center">g</td>
							<td align="center">1,8</td>
							<td align="center">0,41</td>
							<td colspan="2" align="center">2%</td>
						</tr>
						<tr>
							<td>Grasas monoinsaturadas</td>
							<td align="center">g</td>
							<td align="center">11</td>
							<td align="center">2,6</td>
							<td colspan="2" align="center">-</td>
						</tr>
						<tr>
							<td>Grasas poliinsaturadas</td>
							<td align="center">g</td>
							<td align="center">1,5</td>
							<td align="center">0,34</td>
							<td colspan="2" align="center">-</td>
						</tr>
						<tr>
							<td>Ácido linoleico (w6)</td>
							<td align="center">g</td>
							<td align="center">1,2</td>
							<td align="center">0,28</td>
							<td align="center">-</td>
						</tr>
						<tr>
							<td>DHA (w3)</td>
							<td align="center">mg</td>
							<td align="center">170</td>
							<td align="center">39</td>
							<td colspan="2" align="center">-</td>
						</tr>
						<tr>
							<td>EPA (w3)</td>
							<td align="center">mg</td>
							<td align="center">32</td>
							<td align="center">7,2</td>
							<td colspan="2" align="center">-</td>
						</tr>
						<tr>
							<td>Colesterol</td>
							<td align="center">mg</td>
							<td align="center">0</td>
							<td align="center">0</td>
							<td colspan="2" align="center">-</td>
						</tr>
						<tr>
							<td>Grasas trans</td>
							<td align="center">g</td>
							<td align="center">0</td>
							<td align="center">0</td>
							<td colspan="2" align="center">-</td>
						</tr>
						<tr>
							<td>Fibra alimentaria</td>
							<td align="center">g</td>
							<td align="center">0</td>
							<td align="center">0</td>
							<td colspan="2" align="center">0%</td>
						</tr>
						<tr>
							<td  bgcolor="#CCCCCC">Minerales</td>
							<td align="center" bgcolor="#CCCCCC" class=xl65></td>
							<td align="center" bgcolor="#CCCCCC"class=xl65></td>
							<td align="center" bgcolor="#CCCCCC" class=xl65></td>
							<td align="center" bgcolor="#CCCCCC" class=xl65></td>
						</tr>


						<tr>
							<td>Sodio</td>
							<td align="center">mg</td>
							<td align="center">316</td>
							<td align="center">73</td>
							<td colspan="2" align="center">3%</td>
						</tr>
						<tr>
							<td>Potasio</td>
							<td align="center">mg</td>
							<td align="center">588</td>
							<td align="center">135</td>
							<td colspan="2" align="center">3%</td>
						</tr>
						<tr>
							<td>Cloro</td>
							<td align="center">mg</td>
							<td align="center">517</td>
							<td align="center">119</td>
							<td colspan="2" align="center">5%</td>
						</tr>
						<tr>
							<td>Calcio</td>
							<td align="center">mg</td>
							<td align="center">350</td>
							<td align="center">80</td>
							<td colspan="2" align="center">8%</td>
						</tr>
						<tr>
							<td>Fósforo</td>
							<td align="center">mg</td>
							<td align="center">220</td>
							<td align="center">51</td>
							<td colspan="2" align="center">7%</td>
						</tr>
						<tr>
							<td>Magnesio</td>
							<td align="center">mg</td>
							<td align="center">87</td>
							<td align="center">20</td>
							<td colspan="2" align="center">8%</td>
						</tr>
						<tr>
							<td>Hierro</td>
							<td align="center">mg</td>
							<td align="center">7,0</td>
							<td align="center">1,6</td>
							<td colspan="2" align="center">12%</td>
						</tr>
						<tr>
							<td>Zinc</td>
							<td align="center">mg</td>
							<td align="center">4,7</td>
							<td align="center">1,1</td>
							<td colspan="2" align="center">15%</td>
						</tr>
						<tr>
							<td>Cobre</td>
							<td align="center">mg</td>
							<td align="center">0,81</td>
							<td align="center">0,19</td>
							<td colspan="2" align="center">21%</td>
						</tr>
						<tr>
							<td>Manganeso</td>
							<td align="center">mg</td>
							<td align="center">1,1</td>
							<td align="center">0,25</td>
							<td colspan="2" align="center">11%</td>
						</tr>
						<tr>
							<td>Flúor</td>
							<td align="center">mg</td>
							<td align="center">0,50</td>
							<td align="center">0,12</td>
							<td colspan="2" align="center">3%</td>
						</tr>
						<tr>
							<td>Molibdeno</td>
							<td align="center">mcg</td>
							<td align="center">42</td>
							<td align="center">10</td>
							<td colspan="2" align="center">21%</td>
						</tr>
						<tr>
							<td>Selenio</td>
							<td align="center">mcg</td>
							<td align="center">21</td>
							<td align="center">4,8</td>
							<td colspan="2" align="center">14%</td>
						</tr>
						<tr>
							<td>Cromo</td>
							<td align="center">mcg</td>
							<td align="center">20</td>
							<td align="center">4,6</td>
							<td colspan="2" align="center">13%</td>
						</tr>
						<tr>
							<td>Iodo</td>
							<td align="center">mcg</td>
							<td align="center">48</td>
							<td align="center">11</td>
							<td colspan="2" align="center">8%</td>
						</tr>
						<tr>
							<td  bgcolor="#CCCCCC">Vitaminas</td>
							<td align="center" bgcolor="#CCCCCC" class=xl65></td>
							<td align="center" bgcolor="#CCCCCC"class=xl65></td>
							<td align="center" bgcolor="#CCCCCC" class=xl65></td>
							<td align="center" bgcolor="#CCCCCC" class=xl65></td>
						</tr>

						<tr>
							<td>Vitamina A</td>
							<td align="center">mcg RE</td>
							<td align="center">360</td>
							<td align="center">83</td>
							<td colspan="2" align="center">14%</td>
						</tr>
						<tr>
							<td>Vitamina D</td>
							<td align="center">mcg</td>
							<td align="center">3,3</td>
							<td align="center">0,76</td>
							<td colspan="2" align="center">8%</td>
						</tr>
						<tr>
							<td>Vitamina E</td>
							<td align="center">mg alfa TE</td>
							<td align="center">11</td>
							<td align="center">2,5</td>
							<td colspan="2" align="center">25%</td>
						</tr>
						<tr>
							<td>Vitamina K</td>
							<td align="center">mcg</td>
							<td align="center">24</td>
							<td align="center">5,5</td>
							<td colspan="2" align="center">8%</td>
						</tr>
						<tr>
							<td>Tiamina (Vit B1)</td>
							<td align="center">mg</td>
							<td align="center">0,75</td>
							<td align="center">0,17</td>
							<td colspan="2" align="center">14%</td>
						</tr>
						<tr>
							<td>Riboflavina (Vit B2)</td>
							<td align="center">mg</td>
							<td align="center">0,75</td>
							<td align="center">0,17</td>
							<td colspan="2" align="center">13%</td>
						</tr>
						<tr>
							<td>Niacina (Vit B3)</td>
							<td align="center">mg</td>
							<td align="center">9,0</td>
							<td align="center">2,1</td>
							<td colspan="2" align="center">13%</td>
						</tr>
						<tr>
							<td>Acido Pantoténico</td>
							<td align="center">mg</td>
							<td align="center">3,1</td>
							<td align="center">0,71</td>
							<td colspan="2" align="center">14%</td>
						</tr>
						<tr>
							<td>Piridoxina (Vit B6)</td>
							<td align="center">mg</td>
							<td align="center">0,95</td>
							<td align="center">0,22</td>
							<td colspan="2" align="center">13%</td>
						</tr>
						<tr>
							<td>Acido fólico</td>
							<td align="center">mcg</td>
							<td align="center">148</td>
							<td align="center">34</td>
							<td colspan="2" align="center">14%</td>
						</tr>
						<tr>
							<td>Cianocobalamina (Vit B12)</td>
							<td align="center">mcg</td>
							<td align="center">2,4</td>
							<td align="center">0,55</td>
							<td colspan="2" align="center">23%</td>
						</tr>
						<tr>
							<td>Biotina</td>
							<td align="center">mcg</td>
							<td align="center">20</td>
							<td align="center">4,6</td>
							<td colspan="2" align="center">15%</td>
						</tr>
						<tr>
							<td>Vitamina C</td>
							<td align="center">mg</td>
							<td align="center">65</td>
							<td align="center">15</td>
							<td colspan="2" align="center">33%</td>
						</tr>
						<tr>
							<td>Colina</td>
							<td align="center">mg</td>
							<td align="center">170</td>
							<td align="center">39</td>
							<td colspan="2" align="center">16%</td>
						</tr>
					</table>
					<p>* % de la Ingesta Diaria Recomendada para adultos (C.A.A.). Sus valores diarios pueden ser mayores o menores dependiendo de las necesidades energéticas.
					</p>
				</div>
			</div>

		</div>


	</div> <!-- row -->

 		<div class="clearfix"></div>

	<div class="row">


		<div id="modopreparacion">
			<h2><strong>	MODO DE PREPARACIÓN:</strong></h2>

			<div class="row">
				<div class="col-lg-5">
					<p>El profesional de la salud definirá la cantidad de porciones diarias a consumir, 
						en función al requerimiento de cada paciente.
					</p>
					<p>A modo de orientación, la ingesta diaria podría ser la siguiente:</p>
					<p>- Como complemento de la dieta habitual: 2 a 4 porciones.</p>
					<p>- Como única fuente de nutrientes: 350 gramos (1500 ml).</p> 
					<br>

					<div id="advertencias">
						<h2>ADVERTENCIAS:</h2>
						<p>*Utilizar sólo bajo supervisión médica.</p>
						<p>*No utilizar por vía parenteral.						</p>
						<p>*<strong>CONTIENE DERIVADOS DE LECHE Y DERIVADOS DE SOJA</strong>.</p>
						<br>
						<h2>Presentación:</h2>
						<h2>Lata por 350 gr y 800 gr</h2>
						<h2>Contenedor por 500 ml </h2>
					</div>
				</div>

				<div class="col-lg-7">
					<img src="imagenes/productos/recuadro-sustenta-neutro.jpg" width="502" height="110" />
				</div>

			</div>


		</div>







	</div>  <!-- row -->


</div> 
