<div class="col-md-10 offset-md-1" style="margin-top: 30px">
	<h2><strong>PRODUCTOS</strong></h2>
	<p>&nbsp;</p>
	<p>La línea de productos de Nutentar, ha sido desarrollada para atender las necesidades nutricionales de diferentes grupos poblacionales.</p> <br />

	<div class="row">


		<!-- <div class="col-md-3">
			<div class="card mb-3">
				<h3 class="card-header Titfliaproductos">
					<a href="">Card header				</a>
				</h3>
				<div class="card-body fliaproductosDescrip">
					<img img src="imagenes/img4.jpg" style="width: 100%; display: block;" class="img-fluid">
					<h2 class="card-title">Special title treatment</h2>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div> -->

		<div class="col-lg-3">
			<div class="card mb-3">
				<h3 class="card-header Titfliaproductos">
					<a href="/nutricion-clinica-adulta">NUTRICIÓN CLÍNICA ADULTA</a>
				</h3>
				<div class="card-body fliaproductosDescrip">
					<!-- <div id="fliafoto"> -->
					<a href="/nutricion-clinica-adulta">
						<img src="imagenes/img1.jpg" style="width: 100%; display: block;" class="img-fluid" />
					</a>
					<!-- </div> -->
					<h2>Soluciones nutricionales para personas adultas</h2><br />
					<p>	Fórmulas en polvo, que proveen la totalidad de los nutrientes requeridos, administrables por vía oral o enteral. Fuente de energía, proteínas, ácidos grasos esenciales (DHA + EPA), vitaminas y minerales. Cubren las RDA en 1500 Kcal.<br />
					Libres de gluten y de lactosa.
					</p>
				</div>
			</div>
		</div>


		<div class="col-lg-3">
			<div class="card mb-3">
				<h3 class="card-header Titfliaproductos">
					<a href="#">MÓDULOS NUTRICIONALES</a>
				</h3>
				<div class="card-body fliaproductosDescrip">
					<a href="#">
						<img src="imagenes/img2.jpg" style="width: 100%; display: block;" class="img-fluid" />
					</a>
					<h2>Nutrientes específicos para planes alimentarios a medida.</h2><br />
					<p>Módulos nutricionales que permiten enriquecer las dietas con nutrientes específicos, permitiendo realizar planes alimentarios a medida de cada necesidad. Libres de gluten.
					</p>
					<p><br /></p>
				</div>
			</div>
		</div>



		<div class="col-lg-3">
			<div class="card mb-3">
				<h3 class="card-header Titfliaproductos">
					<a href="#">NUTRICIÓN CLÍNICA PEDIÁTRICOS</a>
				</h3>
				<div class="card-body fliaproductosDescrip">
					<a href="#">
						<img src="imagenes/img3.jpg" style="width: 100%; display: block;" class="img-fluid" />
					</a>
					<h2>Soluciones nutricionales para niños</h2><br />
					<p>Fórmulas &nbsp;en polvo, que proveen la totalidad de los nutrientes requeridos, administrables por vía oral o enteral. Fuente de energía, proteínas, lípidos, vitaminas y minerales. Cubren las RDA de los grupos etarios específicos. Libres de gluten y de lactosa.
					</p>
				</div>
			</div>
		</div>


		<div class="col-lg-3">
			<div class="card mb-3">
				<h3 class="card-header Titfliaproductos">
					<a href="#">DIETA <br /> CETOGÉNICA</a>
				</h3>
				<div class="card-body fliaproductosDescrip">
					<a href="#">
						<img src="imagenes/img4.jpg" style="width: 100%; display: block;" class="img-fluid" />
					</a>
					<h2>Fórmula completa con relación cetogénica 4:1</h2><br />
					<p>Alimento en polvo, completo, que provee la totalidad de los nutrientes requeridos, para la realización de una dieta cetogénica. Administrable por vía oral o enteral. Libre de gluten y de lactosa.</p>
					<p><br /></p>
				</div>
			</div>
		</div>



	</div>

	<!-- <div class="row">

		<div class="col-lg-3">
			<div class="card mb-3">
				<h3 class="card-header Titfliaproductos">Card header</h3>
				<div class="card-body card-body fliaproductosDescrip">
					<img img src="imagenes/img4.jpg" style="width: 100%; display: block;" class="img-fluid">
					<h2 class="card-title">Special title treatment</h2>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>

	</div> -->
</div>

