<div id="info">

<h2>POLITICA DE CALIDAD, INOCUIDAD Y RESPONSABILIDAD SOCIAL</h2>
<p>&nbsp;</p>
<table width="885" height="85" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="212" valign="top" align="justify"><p><img src="imagenes/calidad2.png" width="200" height="500" /></p></td>
    <td width="453" valign="top" align="justify"><p><br />
      • <strong> Garantizar la seguridad alimentaria, </strong>cumpliendo
      con las reglamentaciones vigentes, y estableciendo
      un Sistema de Calidad e Inocuidad, para asegurar 
      la elaboración de productos inocuos y consistentes. </p>
      <p><br />
      </p>
      <p>• Asegurar la satisfacción de nuestros clientes ofreciendo productos que siempre cumplan con sus expectativas y mejoren su calidad de vida, utilizando como pilares fundamentales la agilidad en los procesos y la amabilidad en el servicio.</p>
      <p><br />
      </p>
      <p>• Implementar un proceso de mejora continua, mediante la correcta ejecución y comprensión de las tareas diarias, la innovación práctica y la eficiciencia de costos.</p>
      <p>&nbsp;</p>
      <p>• Promover el comportamiento responsable con el medio ambiente, que redunde en la prevención de contaminación, la mejora del entorno y el desarrollo sustentable.<br />
      </p>
      <p>&nbsp; </p>
      <p>• Incrementar el desarrollo de nuestro personal mediante programas de capacitación y concientización.</p>
      <p><br />
      </p>
      <p>• Prevenir accidentes, lesiones y enfermedades relacionadas con el trabajo y con la protección del personal, contratistas y demás personas que intervienen en la cadena de valor.</p>
      <p><br />
      </p>
      <p>• Promover esta política y asegurar que la misma es entendida, implementada y mantenida en todos los niveles.</p></td>
    <td width="220" align="center"><img src="imagenes/calidad.png" width="200" height="500" /></td>
  </tr>
</table>
<p><br />
</p>
<p><br />
</p>
</div>
